body{
    text-align: center;  
}
main{
    margin: auto;
    background-color: #fff;
    padding: 1px;
    border: 2px solid rgb(45, 45, 45);
    width: 700px;
}
#company{
    width: auto;
    height: auto;
    background-image: url("light.jpg");
}
.ribbon{
    width: 100px;
    height: 70px;
    background-color: #72dae8;
    position: relative;
    margin-left: auto;
}
.ribbon:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 35px solid #000000;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.ribbon1{
    width: 100px;
    height: 70px;
    background-color: #72dae8;
    position: absolute;
    margin-top: 25px;
    
}
.ribbon1:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 35px solid #000000;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.ribbon2{
    width: 100px;
    height: 70px;
    background-color: #72dae8;
    position: absolute;
    margin-top: 25px;
    margin-left: 600px;
}
.ribbon2:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 35px solid #000000;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.ribbon3{
    width: 100px;
    height: 70px;
    background-color: #72dae8;
    top: 1750px;
}
.ribbon3:after{
    content: '';
    position: relative;
    right: -33px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 35px solid #060010;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
h1{
    width: 300px;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(43, 223, 226);
    padding: 10px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 30px;
}
p{
    text-align: center;
    font-family: sans-serif;
    width: 610px;
    margin: auto;
    margin-bottom: 20px;
    color: #ffffff;
}
p1{
    color: rgb(43, 226, 195);
}
h2{
    text-align: center;
    font-family: sans-serif;
    color: #fff;
}
h3{
    width: 300px;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(43, 223, 226);
    padding: 10px;
    border-radius: 6px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;

}
div{
    display: flex;
    justify-content: space-evenly; 
}
p2{
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    display: flex;
    width: 420px;
    justify-content: space-evenly;
    margin: auto;
    color: #fff;
}
p3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: medium;
    color: rgb(147, 198, 220);
    display: flex;
    width: 420px;
    justify-content: space-evenly;
    margin: auto;
}

ul{
    padding: 5px 5px 5px 5px;
    margin: auto;
    justify-content: space-evenly;
}
p4{
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    display: flex;
    width: 470px;
    justify-content: space-evenly;
    margin: auto;
    color: #fff;
}
p5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: medium;
    color: rgb(147, 198, 220);
    display: flex;
    width: 470px;
    justify-content: space-evenly;
    margin: auto;
}
p6{
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    display: flex;
    width: 620px;
    justify-content: space-evenly;
    margin: auto;
    color: #fff;
}
p7{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: medium;
    color: rgb(147, 198, 220);
    display: flex;
    width: 620px;
    justify-content: space-evenly;
    margin: auto;
    color: #fff;
}
p8{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: medium;
    color: rgb(147, 198, 220);
    display: flex;
    width: 470px;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 45px;
    color: #fff;
}
